<%- contentFor('body') %>
<div>
    <h1>Choose the way you authorize</h1>
    <div>
        <a href="/login">
            <button class="btn btn-default" type="button">Login</button>
        </a>
        <a href="/register">
            <button class="btn btn-default" type="button">Register</button>
        </a>
    </div>
</div>
