<%- contentFor('body') %>
<div class="block-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" id="room-button" type="button">Create room</button>
            </span>
                <input type="text" class="form-control" id="room-input">
            </div>
        </div>
    </div>
    <h1>Available rooms</h1>
    <div class="list-group" id="room-list">
        <div class="list-group-item active">Room #1</div>
        <div class="list-group-item">Room #2</div>
        <div class="list-group-item">Test room</div>
        <div class="list-group-item">Stupid room</div>
        <div class="list-group-item">Support room</div>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="../../js/socket.io-stream.js"></script>
<script src="../../js/lobby.js"></script>