<%- contentFor('body') %>
<form class="block-panel" action="/login" method="POST">
    <h2 class="block-panel-heading">Sign in</h2>
    <input type="text" name="email" class="form-control credentials" placeholder="Email address" required=""
           autofocus="">
    <input type="password" name="password" class="form-control credentials" placeholder="Password" required="">
    <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
