<%- contentFor('body') %>
<form class="block-panel" action="/signup" method="post">
    <h2 class="block-panel-heading">Register new account</h2>
    <input type="text" name="email" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" class="form-control credentials" placeholder="Email address" required=""
           autofocus="">
    <input type="password" name="password" pattern="[A-Za-z0-9]{4,8}" class="form-control credentials" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
