<div class="block-panel">
    <h2 class="block-panel-heading" id="room">Room #312</h2>
    <div class="row message-input">
        <div class="col-lg-12">
            <div class="input-group">
                <span class="input-group-btn">
                  <button id="send-button" class="btn btn-default" type="button">Send</button>
                </span>
                <input id="send-message" type="text" class="form-control">
                <input id="file" type="file" />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body chat-body" id="messages">
            <!--<span class="message"><span class="user" style="color: #0A6">User#1</span>: Hello.</span>-->
            <!--<span class="message"><span class="user" style="color: #A00">User#2</span>: Hi!</span>-->
            <!--<span class="message"><span class="user" style="color: #06F">Alien</span>: Greatings, earthlings! I come in peace. Klaatu barada nikto. Here is my <a-->
                        <!--href="#">gift</a> to humanity</span>-->
            <!--<span class="message"><span class="user" style="color: #A00">User#2</span>: Wow!</span>-->
            <!--<span class="message"><span class="user" style="color: #0A6">User#1</span>: Radical, dude!</span>-->
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../../js/socket.io-stream.js"></script>
<script src="../../js/chat.js"></script>

